<a href="https://colab.research.google.com/github/rashmi522/letsupassignments/blob/master/day4assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

print the first armstrong number in the range of 1042000 to 702646265 and exit the loop as soon as you encounter first armstrong number

In [ ]:

for i in range(1042000,702646265):
  temp=i
  sum=0
  while temp>0:
    digit=temp%10
    sum+=digit**3
    temp//=10
  if sum==i:
    print("the first armstrong number is ",i)
    break